<!-- Views/Home/Index.cshtml -->
<h1>Sistema de Votação</h1>

<ul>
    <li><a asp-controller="Candidato" asp-action="Index">Gerenciar Candidatos</a></li>
    <li><a asp-controller="Eleitor" asp-action="Index">Gerenciar Eleitores</a></li>
    <li><a asp-controller="Votacao" asp-action="RegistrarVoto">Registrar Voto</a></li>
    <li><a asp-controller="Votacao" asp-action="MostrarResultado">Mostrar Resultado</a></li>
</ul>